<div class="container">
    <h3>About me</h3>
    <div>
        <div class="container-card">
            <img src="https://pub-935cbeadc4b44fb08d3d00e9044bf4bf.r2.dev/my-photo.jpg" class="container-img " alt="Me">
        </div>
        <div>
            <span> Software Engineer</span>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam nulla sequi numquam tempore, sed atque
                neque iure nemo nam similique, soluta delectus facilis doloribus, dolorum quia illo architecto a
                aspernatur.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam nulla sequi numquam tempore, sed atque
                neque iure nemo nam similique, soluta delectus facilis doloribus, dolorum quia illo architecto a
                aspernatur.
            </p>
        </div>
    </div>
    <h3>Skills</h3>
    <div class="container-skill">
        <skill skillImg="https://pub-935cbeadc4b44fb08d3d00e9044bf4bf.r2.dev/angular.png" skillName="Angular" />
        <skill skillImg="https://pub-935cbeadc4b44fb08d3d00e9044bf4bf.r2.dev/logo-spring.png" skillName="Logo spring" />
        <skill skillImg="https://pub-935cbeadc4b44fb08d3d00e9044bf4bf.r2.dev/react-native.webp"
            skillName="Recat native" />
    </div>

</div>