<div class="card-project">

    <span class="card-title">Hueca fest</span>

    <carousel />

    <p class="card-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, esse alias. Maiores a
        recusandae obcaecati
        alias reiciendis, laudantium sit sunt labore repudiandae iure at ex, eaque eos ratione, facere voluptatum?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quam perspiciatis exercitationem ullam, dicta
        mollitia architecto odit quidem sit, libero voluptas aspernatur suscipit est at eligendi facere reiciendis nemo
        debitis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ipsam velit culpa fugiat qui pariatur voluptates,
        provident magni quae quo impedit enim aperiam a officia quisquam, laborum repellat laudantium consequatur!
    </p>

    <span class="card-title">Tecnologias utilizadas</span>

    <div class="card-skill">
        <skill skillImg="https://pub-935cbeadc4b44fb08d3d00e9044bf4bf.r2.dev/angular.png" skillName="Angular" />
        <skill skillImg="https://pub-935cbeadc4b44fb08d3d00e9044bf4bf.r2.dev/logo-spring.png" skillName="Logo spring" />
        <skill skillImg="https://pub-935cbeadc4b44fb08d3d00e9044bf4bf.r2.dev/react-native.webp"
            skillName="Recat native" />
    </div>
</div>