.container {
  margin: 0 10px 0 10px;
}

.container-card-levels {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.card-level {
  width: 140px;
  border: solid 2px var(--background-secundary-color);
  border-radius: 10px;
  text-align: center;
  padding: 7px 10px 7px 10px;
  font-weight: 900;
  font-size: 15px;
}

.card-level:hover {
  width: 140px;
  color: var(--text-secondary-color);
  border: solid 2px var(--text-secondary-color);
  background-color: var(--background-secundary-color);
  transition: 200ms;
  cursor: pointer;
}

.card-project {

  margin-top: 10px;
  border-radius: 10px;
  background-color: var(--background-secundary-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-project-img {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.card-project-text {
  padding: 0 10px;
  color: var(--text-secondary-color);
}

.buttom {
  align-self: center;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 10px;
  width: 150px;
  padding: 10px;
  margin: 10px;
  background-color: var(--background-color);
}

.buttom:hover {
  cursor: pointer;
}