<div class="container">
    <h3>Projects</h3>
    <div class="container-card-levels">
        <div class="card-level">
            <samp>Beginner</samp>
        </div>

        <div class="card-level">
            <samp>Intermate</samp>
        </div>

        <div class="card-level">
            <samp>Avanced</samp>
        </div>
    </div>

    <div class="card-project">

        <img class="card-project-img" src="https://hueca-cliente.samasat.dev/assets/logoSamaBlanco.webp" alt="">

        <div class="card-project-text">
            <span>Project name</span>

            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa velit perferendis exercitationem quasi
                veniam. Sunt alias distinctio modi qui temporibus, exercitationem atque suscipit molestiae quas eaque
                cupiditate inventore odit ad.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium consectetur expedita obcaecati cum.
                Accusamus esse suscipit sequi! Veniam necessitatibus, omnis incidunt laudantium cumque, excepturi
                possimus similique rerum, fugit natus ratione.
            </p>
        </div>

        <a class="buttom"> more...</a>

    </div>
</div>