.menu_mobile {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-secundary-color);
  top: 0;
  left: 0;
  transform: translateY(-100%);
  /* Oculta el menú desplazándolo hacia arriba */
  opacity: 0;
  /* Oculta el menú con opacidad */
  transition: transform 0.5s ease, opacity 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_mobile_visible {
  transform: translateY(0);
  /* Menú aparece en su posición normal */
  opacity: 1;
  /* Menú visible */
}

.menu_mobile_icon {
  width: 40px;
  height: 40px;
  color: var(--text-secondary-color);
  position: absolute;
  right: 10px;
  top: 20px;
}

.menu_mobile_list {
  color: var(--text-secondary-color);
  list-style: none;
  padding: 0;
  font-size: 30px;
  font: weight 500px;;
}

.menu_mobile_list li {
  padding: 10px;
  margin-bottom: 25px;
  text-align: center;
}

.menu_mobile_list li:hover {
  transition: all 0.2s ease;
  color: var(--text-color);
  background-color: var(--background-color);
  border-radius: 10px;
  cursor: pointer;
}